  .about-container {
    background: rgb(0, 0, 116);
    position: relative;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
    text-align: center;
    padding: 8vw;
    clip-path: polygon(0% 10%, 100% 5%, 100% 100%, 0% 100%);
    z-index: 10;
  }

  .about-header {
    position: relative;
    height: 90px;
    font-size: 26px;
    color: white;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    z-index: 15;
    
  }
  
  .about-image img {
    max-width: 500px;
    margin-top: 150px;
    box-shadow: 5px 5px 18px black;
    border-radius: 15px;
  }
  
  .about-text {
    text-align: center;
    max-width: 40vw;
    
      text-align: center;
  }

  @media (max-width: 768px) {
    .about-container {
      margin-top: 0px;
    clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);

    }
    .about-content {
      flex-direction: column;
      
    }
  
    .about-image img {
      max-width: 300px;
      margin-left: 0px;
      margin-top: 0px;
    }
    .about-text {
      max-width: 100%;
    }
  }