.portfolio-page {
  background: rgb(0, 0, 116);
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10vw;
    top: -2px;
margin-bottom: -2px;
    /* -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 100%, 100% calc(100% - 5vw), 100% 100%, 0 100%); */
    z-index: 10;
  }

  .container {
    position: relative;
    height: 85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 100%, 100% calc(100% - 5vw), 100% 100%, 0 100%); */
    z-index: 10;
  }
  
  
  
  .carousel-button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(39, 39, 39, 0.493);
    color: white;
    border: none;
    border-radius: 50%;
    width: 90px;
    height: 60px;
    font-size: 2.5rem;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .carousel-button.left {
    left: -500px; /* Position button closer to the left side */
  }
  
  .carousel-button.right {
    right: -500px; /* Position button closer to the right side */
  }
  
  .carousel-button:hover {
    background-color: rgba(255, 255, 255, 0.849);
    color: black;
  }
  
  @media (max-width: 768px) {
    .carousel-button {
      width: 60px;
      height: 60px;
      font-size: 1.5rem;
    }
  
    .carousel-button.left {
      left: 30px; /* Adjust for smaller screens */
    }
  
    .carousel-button.right {
      right: 30px; /* Adjust for smaller screens */
    }
  }
  
